node_modules/
npm-debug.log
Dockerfile
docker-compose.yml
Procfile
runtime.txt
README.md
LICENSE
logo.png
.dockerignore
.env*
.env.development
.git*
.gitignore
.travis.yml
.circleci
.prettier*

# Python
venv/
__pycache__/

# Local
scripts/
start-app.cmd
.vscode
.doc[x]
dev[_-]*.*
.devcontainer/