@import url("../../static/css/styles.css");

:root {
    --form-font-size: 1.7rem;
}


/**
 * Top-level container for component.
 * Allows for some micro adjustments.
*/
.form-container {
    width: 60%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    font-size: 1.6rem;
    margin: 0 auto;
}

input[type="text"],
input[type="textarea"] {
    font-size: var(--form-font-size);
}

input[type="text"]:read-only,
input[type="textarea"]:read-only {
    background-color: var(--body-bg);
    color: var(--magic-cream);
}

/* Textarea element, by ID value. */
#formFieldSubject {
    font-size: var(--form-font-size);
    resize: vertical;
    background-color: var(--body-bg);
    color: var(--magic-cream);      
}

.sm-text {
    width: 40%;
}

.lg-text {
    width: 80%;
}
