@import url("../../static/css/styles.css");

:root {
    --form-font-size: 1.7rem;
}


/**
 * Wrapping container for form section.
 * Most other attributes are inherited from bootstrap.
*/
.container-fluid {
    background-color: var(--body-bg);
}

/**
 * Top-level container for component.
 * Allows for some micro adjustments.
*/
.form-container {
    width: 60%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    font-size: 1.6rem;
    margin: 0 auto;
    background-color: var(--body-bg);
    color: var(--magic-cream);
}

input[type="text"],
input[type="textarea"] {
    font-size: var(--form-font-size);
}

input[type="text"]:read-only,
input[type="textarea"]:read-only {
    background-color: var(--body-bg);
    color: var(--magic-cream);
}

/* --tailwind-purple-lt */
input[type="text"]:hover {
    border: 0.5px solid var(--tailwind-purple-lt);
}

/************************************
    Textarea element -
        selected by by ID value.

    Why?  Well, that's for you to
    figure out...

    ...

    ...and let me know when you do.
************************************/
#formFieldSubject {
    font-size: var(--form-font-size);
    resize: vertical;
    background-color: var(--body-bg);
    color: var(--magic-cream);      
}

#formFieldSubject:hover {
    border: 0.5px solid var(--tailwind-purple-lt);
}

.sm-text {
    width: 40%;
}

.lg-text {
    width: 80%;
}
