$bright-yellow: #d4b613;
$tailwind-purple-dk: #4c1d95;
$tailwind-purple-lt: #6d28d9;
$tailwind-cyan-dk: #06b6d4;
$tailwind-cyan-lt: #a5f3fc;
$tailwind-rose-lt: #e5e5e5;


$body-bg: #154367;
$body-color: #ffe5ee;

// https://www.color-hex.com/color-palette/115753
$magic-black: #2d2d2f;
$magic-gray: #5b6979;
$magic-blue-dk: #002147;
$magic-blue-lt: #0901a9;
$magic-cream: #e9eceb;
