/* eslint-disable */

// https://create-react-app.dev/docs/adding-bootstrap/#using-a-custom-theme

// @use "scss";
// @import "./lib/scss";

// https://www.color-hex.com/color-palette/115735
// https://www.color-hex.com/color-palette/115746
// Override default variables before the import
$body-bg: #154367;
$body-color: #ffe5ee;


html {
	font: 62.5% / 1.15 sans-serif;
	padding: 0;
	margin: 0;
}

body {
	width: 100%;
	margin: 0 auto;
	// font: 1.6rem/1.25 Arial, sans-serif;
    // font-size: 1.6rem;
}





@media screen and (min-width: 620px) {
	body {
		font-size: 1.5rem;
		line-height: 1.25;
	}
}





// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';


