

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font: 62.5% / 1.15 sans-serif;
	padding: 0;
	margin: 0;
}

h1,
h2 {
	margin-bottom: 0;
}

ul {
	list-style: none;
	padding: 0;
}

button::-moz-focus-inner {
	border: 0;
}

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

button,
input {
	overflow: visible;
}

input[type="text"] {
	border-radius: 0;
}

body {
	width: 100%;
	margin: 0 auto;
	// background-color: var(--cyan-2);
	// font: 1.6rem/1.25 Arial, sans-serif;
	// color: #4d4d4d;
}

@media screen and (min-width: 620px) {
	body {
		font-size: 1.5rem;
		line-height: 1.25;
	}
}

@use "scss";
