
.rs-table-row {
    height: 40px;
}

.rs-table-row-header {
    text-align: center;
}

.table-btn {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    margin: 0.5rem;
}

div > [class="rs-table-row"] {
    padding: 0;
    margin: 0;
    border: none;
}

div > [class="rs-table-row rs-table-row-header"] {
    border: none;
}

/* Line those cell contents UP, baby! */
div > [class="rs-table-cell-content"] {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    color: #000000;
    font-size: 1.5rem;
    font-weight: 600;
    border: 1px solid #000000;
}


div > [class="rs-table-cell-content"] > div > [class="rs-table-cell-content"] {
    padding: 0;
}

/***
Long selector due to top form area also using class='rs-input'.
Additional specification was required in order not to adjust the look
and functionality of the top form input elements.
*/
div > [class="rs-table-cell-content"] > input[class="rs-input"] {
    border: 1px solid var(--rs-cyan-300);
    height: 2.5rem;
    margin: 0 1rem;
    padding: 0 0.5rem;
}
