/* eslint-disable */
:root {
    --bg-nav-main: #6c9dc9;
    --color-nav-main: #67ffef;
}


.nav-bar-1 {
    font-size: 3rem;
    padding: 0 2rem;
    color: #67ffef;
}

.bg-nav-main {
    background-color: var(--bg-nav-main);
}

.navbar-light .navbar-nav .nav-link {
    text-decoration: none;
    text-shadow: none;
    text-rendering: auto;
    color: #67ffef;
}


